.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.page-item {
    margin-left: 10px;
    margin-right: 10px;
    &.active {
        font-weight: bold;
    }
}
